.benefits{
    padding-bottom: 0;
    @media (max-width: 1199px) {
        padding-bottom: 60px;
    }
}

.benefits__list{
    @media (min-width: 768px) {
       display: flex; 
    }
    @media (max-width: 1199px) {
        flex-wrap: wrap;
        gap: 30px;
       }
   
}

.benefits__item{
    @media (max-width: 1199px) {
        width: 354px;
    }
}

.benefits__list li:not(:first-child){
    @media (max-width: 767px) {
        margin-top: 30px;
       }
    @media (min-width: 1200px) {
        margin-left: 30px; 
     }
}

.benefits__item-icon{
    width: 450px;
    height: 120px;
    background: var(--fifth-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        width: 354px;
    }
    @media (min-width: 1200px) {
        width: 270px;
    }
}

.benefits__subtitle{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        margin-top: 30px;
        margin-bottom: 10px;

        @media (max-width: 767px) {
            text-align: center;
        }
}

.benefits__desc{
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-color);
}
