:root{
    --primary-color: #212121;
    --secondary-color: #757575;
    --third-color: #FFFFFF;
    --fourth-color: #2F303A;
    --fifth-color: #F5F4FA; 
    --sixth-color: #188CE8;
    --seventh-color: rgba(255, 255, 255, 0.6);
    --acent-color: #2196F3;
    --black-color: #000000;
    --borber-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}